@{
ViewData["Title"] = "Диабет 1 типа";
}

<div class="min-h-800 bg-[#73BCC4] px-50">
    <div class="flex flex-wrap justify-center items-center gap-100 py-100 max-w-1700 h-full mx-auto">
        <img src="~/images/block-3-1.png" class="flex-1 max-h-580 object-cover">
        <div class="flex flex-col flex-1">
            <h1 class="text-[#1654A4] text-3xl text-center mb-50">Диабет 1 типа: что важно знать</h1>
            <h2 class="text-[#1654A4] text-2xl text-justify">
                Диабет 1 типа — это хроническое аутоиммунное заболевание, при котором поджелудочная железа практически
                перестает вырабатывать инсулин — гормон, необходимый для регулирования уровня сахара в крови. Чаще всего
                диабет 1 типа диагностируется в детском или подростковом возрасте, но может проявиться и у взрослых.<br>
                Основные симптомы включают частое мочеиспускание, сильную жажду, потерю веса и усталость. Для успешного
                контроля заболевания необходим регулярный мониторинг уровня глюкозы, инъекции инсулина и соблюдение
                сбалансированного питания.<br>
                На нашем сайте вы найдете полезные рекомендации по ведению жизни с диабетом 1 типа, советы по
                самоконтролю,
                информацию о современных методах лечения и поддержке, а также сможете получить ответы на важные вопросы
                от
                специалистов и единомышленников. Мы помогаем сделать жизнь с диабетом 1 типа более безопасной и
                комфортной.
            </h2>
        </div>
    </div>
</div>

<div class="max-w-1300 mx-auto mt-140 px-16">
    <p class="text-[#1654A4] whitespace-pre-wrap text-4xl">@Html.Raw(ViewBag.HTMLBody)</p>
</div>

<h1 class=" bg-[url('/images/events/1.jpg')] h-400 bg-center bg-cover flex justify-center items-center text-white
        text-3xl text-center mt-115 px-16">
    “Мы не просто предлагаем решения, а<br>переопределяем возможности.”
</h1>

<div class="max-w-1300 mx-auto my-140 px-16">
    <p class="text-[#1654A4] text-3xl">
        В России люди с сахарным диабетом 1 типа имеют право на ряд льгот и мер социальной поддержки. Вот основные из
        них:<br><br>
        Медицинское обеспечение:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Бесплатное обеспечение лекарственными препаратами: Инсулин (различные виды, включая аналоги), средства
            введения инсулина (шприцы, шприц-ручки, помпы), тест-полоски для глюкометров, препараты для лечения
            осложнений диабета (при необходимости). Перечень лекарств, подлежащих бесплатному обеспечению, может
            меняться, поэтому важно уточнять актуальный список в поликлинике или у лечащего врача.</li>
        <li>Бесплатные средства самоконтроля: Глюкометры, ланцеты (скарификаторы), тест-полоски. Количество
            тест-полосок, положенных в месяц, определяется индивидуально, в зависимости от тяжести заболевания и
            рекомендаций врача.</li>
        <li>Бесплатное медицинское наблюдение и обследование: Регулярные осмотры у эндокринолога, офтальмолога,
            невролога, кардиолога, нефролога и других специалистов, необходимые анализы (анализ крови на глюкозу,
            гликированный гемоглобин, микроальбуминурия, биохимический анализ крови и т.д.), инструментальные
            исследования (ЭКГ, УЗИ и др.) для контроля состояния здоровья и выявления осложнений.</li>
        <li>
            Санаторно-курортное лечение: Право на получение путевки в санаторно-курортные учреждения при наличии
            медицинских показаний, за счет средств ОМС или федерального/регионального бюджета (в зависимости от статуса
            льготника).</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Социальная поддержка:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Инвалидность: При наличии осложнений диабета, приводящих к стойким нарушениям функций организма и
            ограничениям жизнедеятельности, может быть установлена инвалидность. Группа инвалидности (I, II или III)
            определяется в зависимости от степени тяжести состояния. Инвалиды получают ежемесячные денежные выплаты
            (ЕДВ) и набор социальных услуг (НСУ).</li>
        <li>Набор социальных услуг (НСУ): Включает в себя:
            <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
                <li>Бесплатное лекарственное обеспечение (дополнительно к основным медикаментам, которые получают все
                    диабетики)</li>
                <li>Бесплатный проезд на пригородном железнодорожном транспорте (или возмещение стоимости проезда)</li>
                <li>Оплата путевок на санаторно-курортное лечение</li>
            </ul>
        </li>
        <li>Льготы по оплате жилья и коммунальных услуг: Инвалиды и семьи, имеющие детей-инвалидов, могут иметь право на
            льготы по оплате жилья и коммунальных услуг (в зависимости от региона)</li>
        <li>Налоговые льготы: Инвалиды имеют право на налоговые вычеты по налогу на доходы физических лиц (НДФЛ).</li>
        <li>Трудовые льготы:
            <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
                <li>
                    Сокращенная продолжительность рабочего времени (для инвалидов).</li>
                <li>Дополнительный оплачиваемый отпуск (для инвалидов).</li>
                <li>Предоставление работы на дому или неполный рабочий день (при необходимости).</li>
            </ul>
        </li>
        <li>
            Обучение: При необходимости, может быть предоставлена возможность получения образования с учетом состояния
            здоровья (индивидуальный учебный план, домашнее обучение).</li>
        <li>
            Материальная помощь: В некоторых регионах предусмотрены дополнительные меры социальной поддержки в виде
            материальной помощи (например, при приобретении средств реабилитации, оплате дорогостоящего лечения).</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Как получить льготы:</p>
    <ol class="text-[#1654A4] list-decimal ml-32 text-3xl">
        <li>Обратиться к врачу-эндокринологу: Для получения рекомендаций по лечению, направлений на анализы и
            консультации специалистов.</li>
        <li>Оформить рецепты на лекарства и средства самоконтроля: Рецепты выписываются эндокринологом (или другим
            врачом, ведущим пациента) и действительны в течение определенного срока.</li>
        <li>Обратиться в поликлинику по месту жительства: Для получения информации о порядке обеспечения лекарствами,
            средствами самоконтроля, направлениями на обследования и консультации.</li>
        <li>Пройти медико-социальную экспертизу (МСЭ): Для установления инвалидности (при наличии оснований).</li>
        <li>Обратиться в органы социальной защиты населения: Для получения информации о льготах, выплатах и других мерах
            социальной поддержки.</li>
    </ol>
    <p class="text-[#1654A4] text-3xl">Важные моменты:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Региональные особенности: Перечень льгот и объем их предоставления могут различаться в зависимости от
            региона проживания.</li>
        <li>Документы: Необходимо иметь при себе паспорт, полис ОМС, СНИЛС, медицинские документы (выписки из истории
            болезни, результаты анализов и обследований).</li>
        <li>Обновление информации: Нормативная база может меняться, поэтому рекомендуется регулярно уточнять информацию
            о льготах и порядке их получения в поликлинике, органах социальной защиты населения и у лечащего врача.</li>
        <li>Права пациентов: Пациенты с сахарным диабетом имеют право на получение всей необходимой медицинской помощи,
            включая лекарства, средства самоконтроля, регулярное обследование и консультации специалистов. В случае
            нарушения прав, необходимо обращаться в вышестоящие инстанции (включая страховую медицинскую организацию,
            Росздравнадзор, прокуратуру).</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Рекомендации:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Вести дневник самоконтроля: Регулярно измерять уровень глюкозы в крови, записывать результаты, а также
            информацию о питании, физической активности и принимаемых препаратах. Это поможет врачу подобрать
            оптимальную схему лечения и оценить эффективность проводимой терапии.</li>
        <li>Следовать рекомендациям врача: Соблюдать диету, режим физической активности и регулярно принимать
            назначенные препараты.</li>
        <li>Обучаться в школе диабета: Проходить обучение в специализированных школах для пациентов с диабетом, где
            можно получить информацию о заболевании, его лечении и профилактике осложнений.</li>
        <li>Обращаться за психологической поддержкой: Жизнь с диабетом может быть сложной, поэтому важно обращаться за
            психологической поддержкой при необходимости</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Эта информация носит общий характер. Для получения точной и актуальной информации
        о льготах, полагающихся конкретному человеку с сахарным диабетом 1 типа, необходимо проконсультироваться с
        врачом-эндокринологом, посетить поликлинику по месту жительства и обратиться в органы социальной защиты
        населения.</p>
</div>