@{
ViewData["Title"] = "Диабет 2 типа";
}

<div class="min-h-800 bg-[#73BCC4] px-50">
    <div class="flex flex-wrap justify-center items-center gap-100 py-100 max-w-1700 h-full mx-auto">
        <img src="~/images/block-3-2.png" class="flex-1 max-h-580 object-cover">
        <div class="flex flex-col flex-1">
            <h1 class="text-[#1654A4] text-3xl text-center mb-50">Диабет 2 типа: ключевые аспекты</h1>
            <h2 class="text-[#1654A4] text-2xl text-justify">
                Диабет 2 типа — это наиболее распространенная форма диабета, которая часто развивается у взрослых, но
                может также возникать у детей и подростков. Это заболевание связано с инсулинорезистентностью, когда
                клетки организма не могут эффективно использовать инсулин, что приводит к повышению уровня сахара в
                крови.<br>
                Основные факторы риска включают избыточный вес, малоподвижный образ жизни, генетическую
                предрасположенность и возраст. Симптомы могут быть менее выраженными, чем при диабете 1 типа, и включают
                усталость, частое мочеиспускание, жажду и медленное заживление ран.<br>
                На нашем сайте вы найдете информацию о профилактике и управлении диабетом 2 типа, включая рекомендации
                по здоровому питанию, физической активности и контролю уровня сахара в крови. Мы предлагаем ресурсы,
                которые помогут вам лучше понять свое состояние, а также поддержку от специалистов и людей, которые
                сталкиваются с аналогичными проблемами. Вместе мы можем сделать жизнь с диабетом 2 типа более активной и
                полноценной.
            </h2>
        </div>
    </div>
</div>

<div class="max-w-1300 mx-auto mt-140 px-16">
    <p class="text-[#1654A4] whitespace-pre-wrap text-4xl">@Html.Raw(ViewBag.HTMLBody)</p>
</div>

<h1 class=" bg-[url('/images/events/1.jpg')] h-400 bg-center bg-cover flex justify-center items-center text-white
        text-3xl text-center mt-115 px-16">
    “Мы не просто предлагаем решения, а<br>переопределяем возможности.”
</h1>

<div class="max-w-1300 mx-auto my-140 px-16">
    <p class="text-[#1654A4] text-3xl">
        Человек с сахарным диабетом 2 типа в Российской Федерации может рассчитывать на следующие льготы и меры
        социальной поддержки:<br><br>
        1. Медицинская помощь и лекарственное обеспечение:
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>
            Бесплатное обеспечение лекарствами: В соответствии с постановлением Правительства РФ № 890 от 30.07.1994 г.
            “О порядке отпуска лекарственных средств и изделий медицинского назначения населению” (с последующими
            изменениями), пациенты с сахарным диабетом имеют право на бесплатное получение лекарственных препаратов,
            включенных в перечень жизненно необходимых и важнейших лекарственных препаратов (ЖНВЛП). Конкретный перечень
            лекарств, положенных бесплатно, определяется региональными программами.</li>
        <li>Бесплатные средства самоконтроля: Пациенты обеспечиваются бесплатными глюкометрами, тест-полосками (в
            количестве, зависящем от тяжести заболевания и назначения врача), инсулиновыми шприцами (для тех, кто на
            инсулинотерапии). Количество тест-полосок может быть ограничено, но должно соответствовать медицинским
            рекомендациям.</li>
        <li>Обеспечение расходными материалами: Пациенты, получающие инсулин, обеспечиваются бесплатными
            шприцами-ручками, иглами для шприц-ручек, помповыми системами (при наличии показаний и по решению врачебной
            комиссии).</li>
        <li>Санаторно-курортное лечение: Пациенты могут получать путевки на санаторно-курортное лечение (включая оплату
            проезда к месту лечения и обратно) при наличии медицинских показаний и отсутствии противопоказаний.</li>
        <li>Диспансерное наблюдение: Пациенты состоят на диспансерном наблюдении у эндокринолога по месту жительства.
            Это включает регулярные осмотры, контроль анализов и коррекцию лечения.</li>
        <li>Консультации специалистов: Возможность получения консультаций у других специалистов (офтальмолога,
            невролога, кардиолога, нефролога и т.д.) при наличии осложнений.</li>
        <li>Образовательные программы: Возможность участия в школах диабета для обучения самоконтролю, правильному
            питанию и образу жизни.</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">2. Социальная поддержка:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Инвалидность: При наличии осложнений диабета, приводящих к стойкому нарушению функций организма и
            ограничению жизнедеятельности, пациенты могут претендовать на установление группы инвалидности. Группа
            инвалидности устанавливается по результатам медико-социальной экспертизы (МСЭ). Инвалидность дает право на
            ежемесячные денежные выплаты (ЕДВ), набор социальных услуг (НСУ), включающий бесплатный проезд, обеспечение
            лекарствами и санаторно-курортным лечением.</li>
        <li>Налоговые льготы: Инвалиды имеют право на налоговые льготы, такие как стандартный налоговый вычет по налогу
            на доходы физических лиц (НДФЛ).
        </li>
        <li>Трудовые льготы: Инвалиды имеют право на сокращенную продолжительность рабочего времени (не более 35 часов в
            неделю), дополнительный оплачиваемый отпуск (до 30 календарных дней) и защиту от увольнения (при отсутствии
            вины работника).</li>
        <li>Налоговые льготы: Инвалиды имеют право на налоговые вычеты по налогу на доходы физических лиц (НДФЛ).</li>
        <li>Социальная помощь: Возможность получения социальной помощи в виде денежных выплат, льгот на оплату
            коммунальных услуг и других видов социальной поддержки, предоставляемых органами социальной защиты населения
            (в зависимости от региона).</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">3. Важные моменты:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>
            Региональные особенности: Объем льгот и порядок их предоставления могут отличаться в разных регионах РФ.
        </li>
        <li>Необходимость документального подтверждения: Для получения льгот необходимо иметь медицинские документы,
            подтверждающие диагноз, и при необходимости – документы об инвалидности.</li>
        <li>Обращение в соответствующие инстанции: Для получения льгот необходимо обращаться в медицинские учреждения,
            органы социальной защиты населения, Пенсионный фонд РФ (в случае установления инвалидности).</li>
        <li>Врачебная комиссия: Многие решения о предоставлении льгот принимаются на основании заключений врачебной
            комиссии.</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Рекомендации:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Обратитесь к своему лечащему врачу (эндокринологу) для получения информации о положенных вам льготах и
            помощи в оформлении необходимых документов.</li>
        <li>Ознакомьтесь с региональными программами по обеспечению пациентов с сахарным диабетом лекарствами и
            средствами самоконтроля</li>
        <li>При наличии осложнений диабета рассмотрите возможность прохождения медико-социальной экспертизы (МСЭ) для
            установления инвалидности.</li>
        <li>
            Обратитесь в органы социальной защиты населения для получения информации о других видах социальной поддержки
        </li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Отказ в предоставлении льгот:<br>
        Если вам отказывают в предоставлении льгот, необходимо получить письменный отказ с указанием причины. В этом
        случае вы имеете право обжаловать решение в вышестоящих инстанциях или в суде.<br>
        Важно помнить: Данная информация носит общий характер и не является исчерпывающей. Всегда рекомендуется
        обращаться к врачу и в соответствующие государственные органы для получения актуальной и точной информации о
        ваших правах и возможностях.</p>
</div>