@{
ViewData["Title"] = "Диабет 2 типа";
}

<div class="min-h-800 bg-[#73BCC4] px-50">
    <div class="flex flex-wrap justify-center items-center gap-100 py-100 max-w-1700 h-full mx-auto">
        <img src="~/images/block-3-2.png" class="flex-1 max-h-580 object-cover">
        <div class="flex flex-col flex-1">
            <h1 class="text-[#1654A4] text-3xl font-black text-center mb-50">Диабет 2 типа: ключевые аспекты</h1>
            <h2 class="text-[#1654A4] text-2xl font-black text-justify">
                Диабет 2 типа — это наиболее распространенная форма диабета, которая часто развивается у взрослых, но
                может также возникать у детей и подростков. Это заболевание связано с инсулинорезистентностью, когда
                клетки организма не могут эффективно использовать инсулин, что приводит к повышению уровня сахара в
                крови.<br>
                Основные факторы риска включают избыточный вес, малоподвижный образ жизни, генетическую
                предрасположенность и возраст. Симптомы могут быть менее выраженными, чем при диабете 1 типа, и включают
                усталость, частое мочеиспускание, жажду и медленное заживление ран.<br>
                На нашем сайте вы найдете информацию о профилактике и управлении диабетом 2 типа, включая рекомендации
                по здоровому питанию, физической активности и контролю уровня сахара в крови. Мы предлагаем ресурсы,
                которые помогут вам лучше понять свое состояние, а также поддержку от специалистов и людей, которые
                сталкиваются с аналогичными проблемами. Вместе мы можем сделать жизнь с диабетом 2 типа более активной и
                полноценной.
            </h2>
        </div>
    </div>
</div>

<div class="max-w-1300 mx-auto mt-140 px-16">
    <p class="text-[#1654A4] whitespace-pre-wrap font-black text-4xl">
        1. Официальные и медицинские ресурсы
         1. Минздрав РФ (раздел о диабете) - <a class="underline" href="https://minzdrav.gov.ru/ministry/61/22">minzdrav.gov.ru/ministry/61/22</a>
         2. Российская Диабетическая Ассоциация - <a class="underline" href="https://diabet.ru">diabet.ru</a>
         3. ФГБУ "НМИЦ эндокринологии" - <a class="underline" href="https://endojournals.ru">endojournals.ru</a>
         4. Горячая линия Минздрава по диабету - 8-800-200-0-200
        2. Образовательные проекты
         1. Школа диабета онлайн - <a class="underline" href="https://shkoladiabeta.ru">shkoladiabeta.ru</a>
         2. Проект "Диабет.рф" - <a class="underline" href="https://диабет.рф">диабет.рф</a>
         3. Академия диабета - <a class="underline" href="https://diacademy.ru">diacademy.ru</a>
         4. Вебинары для пациентов - <a class="underline" href="https://diabet-school.ru">diabet-school.ru</a>
        3. Сообщества и форумы
         1. Форум "Диа-клуб" - <a class="underline" href="https://diaclub.ru">diaclub.ru</a>
         2. Сообщество ВК "Диабет 2 типа" - <a class="underline" href="https://vk.com/diabet2type">vk.com/diabet2type</a>
         3. Telegram-чат "Диабет 2 типа" - <a class="underline" href="https://t.me/diabet2chat">t.me/diabet2chat</a>
         4. Фонд "Диабет" - <a class="underline" href="https://diabetfond.ru">diabetfond.ru</a>
        4. Питание и образ жизни
         1. Кулинарный портал для диабетиков - <a class="underline" href="https://diabet-recept.ru">diabet-recept.ru</a>
         2. Рецепты от РДА - <a class="underline" href="https://diabet.ru/cooking">diabet.ru/cooking</a>
         3. Спорт при диабете - <a class="underline" href="https://diabetik.guru/sport">diabetik.guru/sport</a>
        5. Правовая поддержка
         1. Льготы для диабетиков - <a class="underline" href="https://socialnaya-podderzhka.ru">socialnaya-podderzhka.ru</a>
         2. Портал госуслуг (медицинские услуги) - <a class="underline" href="https://gosuslugi.ru/health">gosuslugi.ru/health</a>
         3. Центр защиты прав пациентов - <a class="underline" href="https://patientrights.ru">patientrights.ru</a>
        6. Товары для диабетиков
         1. Интернет-магазин "Диабетика" - <a class="underline" href="https://diabetica.ru">diabetica.ru</a>
         2. Аптека "Диабет" - <a class="underline" href="https://aptekadiabet.ru">aptekadiabet.ru</a>
         3. Ортопедическая обувь - <a class="underline" href="https://ortocomfort.ru">ortocomfort.ru</a>
        7. Мобильные приложения
         1. Диабет под контролем - <a class="underline" href="https://diabet-control.ru">diabet-control.ru</a>
         2. Дневник диабетика - <a class="underline" href="https://diacheck.ru">diacheck.ru</a>
         3. Мой глюкометр - <a class="underline" href="https://play.google.com/store/apps/details?id=ru.diabet.myglukometer">play.google.com/store/apps/details?<br>id=ru.diabet.myglukometer</a>
        8. Психологическая помощь
         1. Горячая линия психологической помощи - 8-800-333-44-34
         2. Проект "Психология диабета" - <a class="underline" href="https://diabet-psy.ru">diabet-psy.ru</a>
         3. Чат поддержки в Telegram - <a class="underline" href="https://t.me/diabet_support">t.me/diabet_support</a>
        9. Региональные центры
         1. Московский диабетический центр - <a class="underline" href="https://mosdiabet.ru">mosdiabet.ru</a>
         2. СПб диабетическое общество - <a class="underline" href="https://diabet-spb.ru">diabet-spb.ru</a>
         3. Карта диабет-центров РФ - <a class="underline" href="https://yandex.ru/maps/diabetes">yandex.ru/maps/diabetes</a>
</div>

<h1 class=" bg-[url('/images/events/1.jpg')] h-400 bg-center bg-cover flex justify-center items-center text-white
        text-3xl text-center mt-115 px-16">
    “Мы не просто предлагаем решения, а<br>переопределяем возможности.”
</h1>

<div class="max-w-1300 mx-auto my-140 px-16">
    <p class="text-[#1654A4] text-3xl">
        Человек с сахарным диабетом 2 типа в Российской Федерации может рассчитывать на следующие льготы и меры
        социальной поддержки:<br><br>
        1. Медицинская помощь и лекарственное обеспечение:
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>
            Бесплатное обеспечение лекарствами: В соответствии с постановлением Правительства РФ № 890 от 30.07.1994 г.
            “О порядке отпуска лекарственных средств и изделий медицинского назначения населению” (с последующими
            изменениями), пациенты с сахарным диабетом имеют право на бесплатное получение лекарственных препаратов,
            включенных в перечень жизненно необходимых и важнейших лекарственных препаратов (ЖНВЛП). Конкретный перечень
            лекарств, положенных бесплатно, определяется региональными программами.</li>
        <li>Бесплатные средства самоконтроля: Пациенты обеспечиваются бесплатными глюкометрами, тест-полосками (в
            количестве, зависящем от тяжести заболевания и назначения врача), инсулиновыми шприцами (для тех, кто на
            инсулинотерапии). Количество тест-полосок может быть ограничено, но должно соответствовать медицинским
            рекомендациям.</li>
        <li>Обеспечение расходными материалами: Пациенты, получающие инсулин, обеспечиваются бесплатными
            шприцами-ручками, иглами для шприц-ручек, помповыми системами (при наличии показаний и по решению врачебной
            комиссии).</li>
        <li>Санаторно-курортное лечение: Пациенты могут получать путевки на санаторно-курортное лечение (включая оплату
            проезда к месту лечения и обратно) при наличии медицинских показаний и отсутствии противопоказаний.</li>
        <li>Диспансерное наблюдение: Пациенты состоят на диспансерном наблюдении у эндокринолога по месту жительства.
            Это включает регулярные осмотры, контроль анализов и коррекцию лечения.</li>
        <li>Консультации специалистов: Возможность получения консультаций у других специалистов (офтальмолога,
            невролога, кардиолога, нефролога и т.д.) при наличии осложнений.</li>
        <li>Образовательные программы: Возможность участия в школах диабета для обучения самоконтролю, правильному
            питанию и образу жизни.</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">2. Социальная поддержка:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Инвалидность: При наличии осложнений диабета, приводящих к стойкому нарушению функций организма и
            ограничению жизнедеятельности, пациенты могут претендовать на установление группы инвалидности. Группа
            инвалидности устанавливается по результатам медико-социальной экспертизы (МСЭ). Инвалидность дает право на
            ежемесячные денежные выплаты (ЕДВ), набор социальных услуг (НСУ), включающий бесплатный проезд, обеспечение
            лекарствами и санаторно-курортным лечением.</li>
        <li>Налоговые льготы: Инвалиды имеют право на налоговые льготы, такие как стандартный налоговый вычет по налогу
            на доходы физических лиц (НДФЛ).
        </li>
        <li>Трудовые льготы: Инвалиды имеют право на сокращенную продолжительность рабочего времени (не более 35 часов в
            неделю), дополнительный оплачиваемый отпуск (до 30 календарных дней) и защиту от увольнения (при отсутствии
            вины работника).</li>
        <li>Налоговые льготы: Инвалиды имеют право на налоговые вычеты по налогу на доходы физических лиц (НДФЛ).</li>
        <li>Социальная помощь: Возможность получения социальной помощи в виде денежных выплат, льгот на оплату
            коммунальных услуг и других видов социальной поддержки, предоставляемых органами социальной защиты населения
            (в зависимости от региона).</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">3. Важные моменты:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>
            Региональные особенности: Объем льгот и порядок их предоставления могут отличаться в разных регионах РФ.
        </li>
        <li>Необходимость документального подтверждения: Для получения льгот необходимо иметь медицинские документы,
            подтверждающие диагноз, и при необходимости – документы об инвалидности.</li>
        <li>Обращение в соответствующие инстанции: Для получения льгот необходимо обращаться в медицинские учреждения,
            органы социальной защиты населения, Пенсионный фонд РФ (в случае установления инвалидности).</li>
        <li>Врачебная комиссия: Многие решения о предоставлении льгот принимаются на основании заключений врачебной
            комиссии.</li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Рекомендации:</p>
    <ul class="text-[#1654A4] list-disc ml-32 text-3xl">
        <li>Обратитесь к своему лечащему врачу (эндокринологу) для получения информации о положенных вам льготах и
            помощи в оформлении необходимых документов.</li>
        <li>Ознакомьтесь с региональными программами по обеспечению пациентов с сахарным диабетом лекарствами и
            средствами самоконтроля</li>
        <li>При наличии осложнений диабета рассмотрите возможность прохождения медико-социальной экспертизы (МСЭ) для
            установления инвалидности.</li>
        <li>
            Обратитесь в органы социальной защиты населения для получения информации о других видах социальной поддержки
        </li>
    </ul>
    <p class="text-[#1654A4] text-3xl">Отказ в предоставлении льгот:<br>
        Если вам отказывают в предоставлении льгот, необходимо получить письменный отказ с указанием причины. В этом
        случае вы имеете право обжаловать решение в вышестоящих инстанциях или в суде.<br>
        Важно помнить: Данная информация носит общий характер и не является исчерпывающей. Всегда рекомендуется
        обращаться к врачу и в соответствующие государственные органы для получения актуальной и точной информации о
        ваших правах и возможностях.</p>
</div>