@{
ViewData["Title"] = "Мероприятия";
}

<div class="max-w-1300 mx-auto mt-140 px-16">
    <h1 class="text-5xl text-center mb-80">Информация о наши мероприятия</h1>
    <p class="text-[#1654A4]">
        Мы проводим мероприятия для детей с сахарным диабетом и для их родителей.
        Консультации
        Наши консалтинговые услуги разработаны таким образом, чтобы решить ваши вопросы и направить вас к успеху.
        Сотрудничество с нами поможет вам превратить трудности в возможности.
        Обучение
        Мы верим в преобразующую силу знания. Наши обучающие программы разработаны с целью помощи родителям и детям,
        укреплять доверие и улучшать свои навыки и взять в свои руки сахарный диабет.
        DiaCamp (Диабетический лагерь)
        Мы придерживаемся целостного подхода, уделяя внимание каждому аспекту вашей деятельности, чтобы оптимизировать
        производительность. Сосредоточив усилия на стратегии и адаптивности, мы претворяем идеи в ощутимые результаты.
        Поддержка
        Любая проблема — это возможность получить высококлассную поддержку. Мы вникаем в ваши запросы во всех тонкостях
        и стремимся оперативно оказывать помощь на любом этапе.</p>
</div>

<h1
    class="bg-[url('/images/events/1.jpg')] h-400 bg-center bg-cover flex justify-center items-center text-white text-3xl text-center mt-115 px-16">
    “Мы не просто предлагаем решения, а<br>переопределяем возможности.”<br>— Happy DiaCamp
</h1>

<div class="max-w-1150 mx-auto mt-115 px-16">
    <h1 class="text-5xl mb-50">Фото с мероприятий</h1>
    <div class="flex justify-center flex-wrap gap-70">
        <div class="flex flex-col gap-50 max-w-500">
            <img src="~/images/events/2-1.jpg" class="h-full">
            <p class="text-[#1654A4] text-lg">Встреча с Ириной Слуцкой_Ледовый дворец_02.06.2016</p>
        </div>
        <div class="flex flex-col gap-50 max-w-500">
            <img src="~/images/events/2-2.jpg" class="h-full">
            <p class="text-[#1654A4] text-lg">День диабета_02.11.2020 Запись на мероприятие.</p>
        </div>
    </div>
</div>

<div class="max-w-1150 mx-auto mt-125 mb-300 px-16">
    <h1 class="text-5xl mb-50">Запись на мероприятие.</h1>
    <div class="flex justify-center flex-wrap gap-100">
        <div class="flex flex-col gap-15">
            <img src="~/images/events/3-1.jpg" class="h-300 w-300 object-cover">
            <div class="flex justify-between items-center">
                <p>Школа наставничества</p>
                <a href="/Zapis"
                    class="px-15 py-12 bg-linear-to-r from-[#3569CF] to-[#5566BA] text-white cursor-pointer">Запись</a>
            </div>
        </div>
        <div class="flex flex-col gap-15">
            <img src="~/images/events/3-2.jpg" class="h-300 w-300 object-cover">
            <div class="flex justify-between items-center">
                <p>Школа диа для родителей</p>
                <a href="/Zapis"
                    class="px-15 py-12 bg-linear-to-r from-[#3569CF] to-[#5566BA] text-white cursor-pointer">Запись</a>
            </div>
        </div>
        <div class="flex flex-col gap-15">
            <img src="~/images/events/3-2.jpg" class="h-300 w-300 object-cover">
            <div class="flex justify-between items-center">
                <p>Школа диа для подростков</p>
                <a href="/Zapis"
                    class="px-15 py-12 bg-linear-to-r from-[#3569CF] to-[#5566BA] text-white cursor-pointer">Запись</a>
            </div>
        </div>
        <div class="flex flex-col gap-15">
            <img src="~/images/events/3-4.jpg" class="h-300 w-300 object-cover">
            <div class="flex justify-between items-center">
                <p>Мероприятие</p>
                <a href="/Zapis"
                    class="px-15 py-12 bg-linear-to-r from-[#3569CF] to-[#5566BA] text-white cursor-pointer">Запись</a>
            </div>
        </div>
        <div class="flex flex-col gap-15">
            <img src="~/images/events/3-5.jpg" class="h-300 w-300 object-cover">
            <div class="flex justify-between items-center">
                <p>Dia Camp</p>
                <a href="/Zapis"
                    class="px-15 py-12 bg-linear-to-r from-[#3569CF] to-[#5566BA] text-white cursor-pointer">Запись</a>
            </div>
        </div>
        <div class="flex flex-col gap-15">
            <img src="~/images/events/3-6.jpg" class="h-300 w-300 object-cover">
            <div class="flex justify-between items-center">
                <p>Мероприятие</p>
                <a href="/Zapis"
                    class="px-15 py-12 bg-linear-to-r from-[#3569CF] to-[#5566BA] text-white cursor-pointer">Запись</a>
            </div>
        </div>
    </div>
</div>