@{
ViewData["Title"] = "Не найдено";
}

<div class="mt-125 flex flex-col md:flex-row justify-center items-center text-[#15509C] text-[330px] leading-300">4<img src="~/images/logo.png" class="h-265">4</div>
<p class="mt-10 mb-250 text-center text-lg opacity-50 text-[#15509C]">Ой! Что-то пошло не так. Вернитесь на главную</p>