@{
ViewData["Title"] = "О нас";
}

<div class="max-w-1150 mx-auto my-250 px-16">
    <p class="text-[#1654A4] text-3xl">О нас<br><br>Добро пожаловать на сайт «Поддержка больных диабетом» — ваш надежный помощник в повседневной жизни с диабетом. Здесь вы найдете актуальную информацию о заболевании, советы по правильному питанию, рекомендации по контролю уровня сахара в крови и эффективные методы самопомощи. Наша цель — создать сообщество поддержки, где каждый сможет получить ответы на важные вопросы, обменяться опытом и найти мотивацию для ведения здорового образа жизни. Вместе мы поможем сделать жизнь с диабетом более комфортной и осознанной.</p>
   
    <div class="flex flex-wrap justify-center items-center gap-45 mt-250">
        <img src="~/images/onas/1.png">
        <img src="~/images/onas/2.png">
        <img src="~/images/onas/3.png">
        <img src="~/images/onas/4.png">
        <img src="~/images/onas/5.png">
    </div>
</div>
