@{
ViewData["Title"] = "Поддержка";
}

<div class="min-h-800 bg-[#73BCC4] px-50">
    <div class="flex flex-wrap justify-center items-center gap-100 py-100 max-w-1700 h-full mx-auto">
        <img src="~/images/block-3-3.png" class="flex-1 max-h-580 object-cover">
        <div class="flex flex-col flex-1">
            <h1 class="text-[#1654A4] text-3xl text-center mb-50">Поддержка близких людей: важная часть жизни
                с диабетом</h1>
            <h2 class="text-[#1654A4] text-2xl text-justify">
                Жизнь с диабетом — это вызов не только для самого пациента, но и для его близких. Родные и друзья играют
                ключевую роль в поддержке, понимании и создании благоприятной атмосферы для эффективного управления
                заболеванием.<br>
                Наша команда предоставит Вам полезные советы и рекомендации для близких людей:<br>
                как правильно поддерживать, мотивировать и помогать больным диабетом, как распознавать симптомы и
                реагировать на возможные осложнения. Мы предлагаем информацию о том, как совместно справляться с
                трудностями, сохранять позитивный настрой и укреплять семейные отношения.
                <br>Вместе с нашей поддержкой Вы сможете чувствовать себя увереннее и жить полноценной, активной
                жизнью.<br>С нами вы найдете не только знания, но и сообщество единомышленников, готовых помочь и
                поделиться опытом.
            </h2>
        </div>
    </div>
</div>

<div class="max-w-1300 mx-auto mt-140 px-16">
    <h1 class="text-4xl text-center mb-80 text-[#1654A4]">Как поддержать близкого с диабетом: забота,
        понимание, участие</h1>
    <p class="text-[#1654A4] whitespace-pre-wrap text-4xl">@Html.Raw(ViewBag.HTMLBody)</p>
</div>

<h1 class=" bg-[url('/images/events/1.jpg')] h-400 bg-center bg-cover flex justify-center items-center text-white
        text-3xl text-center my-115 px-16">
    “Мы не просто предлагаем решения, а<br>переопределяем возможности.”
</h1>